# Arquivos de ambiente - NUNCA comitar este arquivo!
.env

# Arquivos gerados pelo Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Arquivos de Build/Compilação
*.class
*.jar
*.war
bin/

# Arquivos gerados pelo IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# Arquivos gerados pelo VS Code
.vscode/

# Arquivos gerados pelo Eclipse
.project
.classpath
.settings/

# Arquivos de Log
logs/
*.log
hs_err_pid*.log # Logs de falha da JVM

# Arquivos Temporários e de Backup de Editores
*.bak
*.tmp
*.swp
*~

# Outros
.DS_Store
HELP.md
